# Essenciais
flask
python-dotenv
python-docx

# RAG e LangChain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-openai
langchain-google-genai
pypdf

# Banco Vetorial e Modelos
chromadb
sentence-transformers

# ML / Computação
torch --index-url https://download.pytorch.org/whl/cpu